<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-primary-subtle">
    <div class="container-fluid">
      <a class="navbar-brand px-4" href="#"
        style="font-family: 'Courier New', Courier, monospace; font-weight: 600;"><b><i>Nimap</i></b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Jobs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Client</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Employee</a>
          </li>
        </ul>
        <!-- <div ><b>{{currenttime | date:"HH:mm:ss"}}</b></div> -->
      </div>
    </div>
  </nav>

<!-- main -->
<div class="container py-4 px-5">
  <div class="row">
    <div class="col-4">
    <img src="{{profileurl}}" alt="" >
  </div>
  <div class="col-4">
    <h3><p style="font-family: 'Courier New', Courier, monospace; font-weight:bold;">I am {{name}} and Im above {{selectedValue}} years and you can send your emails to {{Email}} .
      <br> I live in the state {{State}} of {{Country}}, I like to play {{vs}}
       and please send me newsletter.Please <br>
        reach out to me on my phone number {{number}} </p></h3>
        <button class="bg-success py-3 px-4 my-4 text-white "style=" font-weight:500; border-radius: 10%; border:none">I Agree</button>
  </div>
  </div>
  <div class="row">
    <div class="col-3 py-4">
      <button class="py-3 px-5 bg-warning" data-bs-toggle="modal"data-bs-target="#myModal2" style="border-radius: 10%;   border:none;">Edit Photo</button>
      <button class="py-3 px-5 mx-5 bg-warning" data-bs-toggle="modal"data-bs-target="#myModal" style="border-radius: 10%;border:none">Edit data</button>
    </div>
  </div>
</div>

<!-- Footer -->
<section class="footer bg-dark">
    <div class="text-center py-5 mb-4">
      <h3 class="text-white ">Subscribe to our Job Seeker Mailing List</h3>
      <button class="btn1 mb-4 mt-4">Enter your Email</button>
    </div>
    <div class="row">
      <div class=" col-6 bg-light">
        <div class="px-4 py-4 mt-4 center">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="lightblue" class="bi bi-envelope"
            viewBox="0 0 16 16">
            <path
              d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z" />
          </svg>
          <input class="mx-2" height="" type="email" name="" id="">
          <p>Copyright @2023 Two bytes Consulting <b>Terms & Policies.</b></p>
        </div>
      </div>
      <div class="col-6 bg-light">
        <div class="px-4 py-4 mt-4">
          <button class="twitter  px-2 py-2 text-primary-subtle ">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-twitter"
              viewBox="0 0 16 16">
              <path
                d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15" />
            </svg><b>Twitter</b></button>
        </div>
      </div>
    </div>
</section>
<!-- first modal -->
<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog ">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header bg-primary-subtle">
        <h4 class="modal-title">Edit Data </h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <!-- Modal Body -->
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <!-- Left Column (Image) -->
            <div class="col-md-3">
              <div class="row mb-3">
                  <img src="{{profileurl}}"  class="img-fluid" alt="Profile Image">
              </div>
            </div>
            <!-- Right Column (Input Fields) -->
            <div class="col-md-9">
              <div class="row mb-3">
                <div class="col-md-6">
                  <input type="text" class="form-control " (input)="checkMaxLength()" [(ngModel)]="name" placeholder="First Name">
                </div>
                <div class="col-md-6 py-3">
                  <input type="text" class="form-control " [(ngModel)]="Lastname" placeholder="Lastname">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-12">
                  <input type="email" class="form-control" [(ngModel)]="Email" placeholder="Email">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-12">
                  <input type="number" class="form-control" [(ngModel)]="number" placeholder="enter number">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-12"> Age = {{selectedValue}}
                  <input type="range" [min]="minValue" [max]="maxValue" [(ngModel)]="selectedValue"(input)="onSliderChange($event)">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-12">
                  <div class="col-md-12">
                  <div class="input-group">
                    <button type="button" class="btn  dropdown-toggle form-control" placeholder="State"
                      data-bs-toggle="dropdown">Enter State</button>
                    <select class="form-select" [(ngModel)]="State" required>
                      <option value="Maharashtra">Maharashtra</option>
                      <option value="Uttar Pradesh">Uttar Pradesh</option>
                      <option value="Himachal">Himachal</option>
                      <option value="Kashmir">Kashmir</option>
                    </select>
                  </div>
                </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-12">
                  <div class="col-md-12">
                    <div class="input-group">
                      <button type="button" class="btn  dropdown-toggle form-control" placeholder="Country"
                        data-bs-toggle="dropdown">Enter Country</button>
                      <select class="form-select" [(ngModel)]="Country" required>
                        <option value="India">India</option>
                        <option value="Pakistan">Pakistan</option>
                        <option value="United Kingdom">United Kingdom</option>
                        <option value="Africa">Africa</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-12">
                  <input type="text" class="form-control" [(ngModel)]="Address1" placeholder="Address1">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-12">
                  <input type="text" class="form-control" [(ngModel)]="Address2" placeholder="Address2">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-12 tag-input-container">
                  <input type="text" class="form-control" placeholder="Add a tag..." (keydown.enter)="addTag()"
                    [(ngModel)]="newTag" />
                  <span *ngFor="let tag of tags" class="tag">
                    {{ tag }}
                    <span (click)="removeTag(tag)"><small>x</small></span>
                  </span>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-12">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input">
                    <label class="form-check-label">Subscribe to newsletter</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success" (click)="updatedata()" data-bs-dismiss="modal">Submit</button>
      </div>

    </div>
  </div>
</div>


<!-- second modal  -->
<!-- The Modal -->
<div class="modal" id="myModal2">
  <div class="modal-dialog ">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header bg-primary-subtle">
        <h4 class="modal-title">Edit profile img </h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <!-- Modal Body -->
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <!-- Left Column (Image) -->
                <label for="profile-image" style="cursor: pointer;">
                  <img src="{{profileurl}}"  class="img-fluid" alt="Profile Image">
                  <input type="file" name="" id="profile-image" (change)="checkImageSize($event)" style="display: none;">
                </label>
            <!-- Right Column (Input Fields) -->
          </div>
        </div>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success" (click)="updatedata()" data-bs-dismiss="modal">Submit</button>
      </div>

    </div>
  </div>
</div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">